AWS_DEFAULT_REGION=eu-west-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
LOCALSTACK_ENDPOINT=http://localstack:4566
KAFKA_BOOTSTRAP_SERVERS=broker:29092
SCHEMA_REGISTRY_URL=http://schema-registry:8081
POSTGRES_HOST=postgres
POSTGRES_DB=ods_dev
POSTGRES_USER=ods
POSTGRES_PASSWORD=ods
ENV=local
AIRFLOW_FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=
